Options -Multiviews

RewriteEngine On

RewriteBase /EA3141_Mobile_App_Dev_II_v2/mvc/public

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
